[submodule "frontend-repo"]
	path = frontend-repo
	url = https://github.com/Berro-1/frontend-repo.git
[submodule "backend-repo"]
	path = backend-repo
	url = https://github.com/Berro-1/backend-repo.git
